:root {
  --primery-text-color: #757575;
  --accent: #2196f3;
  --title-text-color: #212121;
  --primeri-white-color: #ffffff;
}
/* 
ссылки в футере rgba(255, 255, 255, 0.6);
*/
/* основные стили */
body {
  background-color: var(--primeri-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}
button {
  font-family: inherit;
  cursor: pointer;
}
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent);
}
.list {
  list-style: none;
}
.link,
.logo {
  text-decoration: none;
}

/* основная навигация сайта */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .current {
  color: var(--accent);
}

.auth-nav .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent);
}
/* герой */
.hero {
  background-color: #212121;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.button {
  color: var(--title-text-color);
  background-color: var(--primeri-white-color);
}
.button.hero {
  background-color: var(--accent);
  color: var(--primeri-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}
/* преимущества */

.section-header {
  font-size: 14px;
  line-height: 1.14;
}
.section .text {
  color: var(--primery-text-color);
  font-size: 14px;
  line-height: 1.7;
}
/* команда */
.examples-work {
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
.comand-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.comand .text {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.9;
}

/* футтер */
.footer {
  background-color: var(--title-text-color);
}
.location {
  color: var(--primeri-white-color);
}
.adress {
  font-style: normal;
}
.auth-nav .transparent {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.footer .footer-logo {
  color: var(--primeri-white-color);
}
/* доп разметка портфолио */

.button-filtr {
  background-color: #f5f4fa;
}
.button-filtr:hover,
.button-filtr:focus {
  background-color: var(--accent);
  color: var(--primeri-white-color);
}
/* разметка карточек */
.list-filter {
  color: var(--title-text-color);
  text-decoration: none;
}
.list-filter .text {
  color: var(--primery-text-color);
}
.list-filter .card {
  font-size: 18px;
  line-height: 2;
}
.list-filter .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
